.comment {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.comment__info-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    color: #74796D;
}

.comment__text {
    margin-top: 0.7rem;
    max-width: 35rem;
}

.comment__responses {
    margin-left: 1.8rem;
}

.comment__reply {
    display: flex;
    gap: 1rem;
    margin-top: 0.3rem;
}

@media(min-width: 670px) {
    .comment__reply div.MuiFormControl-root {
        width: 20rem;
    }
}