.like {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like span.MuiTypography-root {
    font-family: "Libre Franklin", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    color: #74796D;
}

.like svg {
    font-size: 1.8rem;
}

.like label {
    margin: 0;
}

.like span.MuiButtonBase-root {
    padding-bottom: 0.2rem;
    color: #74796D;
}

.like span.Mui-checked {
    color: #476730;
}

@media (min-width: 480px) {
    .like span.MuiTypography-root {
        font-size: 1rem;
    }

    .like svg {
        font-size: 2rem;
    }
}