.recipe-card {
    display: flex;
    flex-direction: column;
    background-color: #EDEFE4;
    border: 0.1rem solid #E1E4D9;
    border-radius: 1.5rem;
    width: 100%;
    aspect-ratio: 7 / 8;
    overflow: hidden;
}

.recipe-card a {
    height: 75%;
    overflow: hidden;
}

.recipe-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}


.recipe-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0 1.2rem;
}

.recipe-card__title {
    margin-bottom: 0.5rem;
    color: #141E0C;
    font-size: 1rem;
    font-family: "Libre Franklin", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.recipe-card__title, .recipe-card__author {
    transition: all 0.1s ease-in-out;
}

@media (min-width: 480px) {
    .recipe-card {
        width: 25rem;
    }

    .recipe-card__title {
        font-size: 1.2rem;
    }
}

@media (min-width: 800px) {
    .recipe-card {
        width: 25rem;
    }

    .recipe-card__image:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 480px) {
    .recipe-card__author {
        font-size: 0.9rem;
    }
}