.page-header {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.page-header--view {
    flex-direction: column;
}

@media (min-width: 800px) {
    .page-header--view {
        flex-direction: row;
    }
}