.page-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem 0 1rem 0;
}

.page-header__toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

@media (min-width: 800px) {
    .page-header {
        flex-direction: row;
    }

    .page-header__toolbar {
        flex-direction: row-reverse;
        width: fit-content;
    }
}