.nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 1.5rem 0;
    width: 100%;
    list-style: none;
}

.nav__links a {
    color: #141E0C;
    font-size: 1rem;
    font-family: "Libre Franklin", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    transition: padding ease-in-out 0.3s;
}

.nav__links a:active,
.nav__links a.active {
    padding: 0.6rem 1.1rem;
    border-radius: 50rem;
    background-color: #476730;
    color: #FFFFFF;
}

@media (min-width: 800px) {
    .nav__links {
        flex-direction: row;
        width: fit-content;
        margin: 0;
    }

    .nav__links a:not(.active):hover {
        padding: 0.6rem 1.1rem;
        border-radius: 50rem;
        background-color: #476730;
        color: #FFFFFF;
    }
}