.main {
    padding: 6rem 2rem 2rem 2rem;
    min-height: 100vh;
    background-color: #F9FAEF;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.text--filler {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.5rem;
    color: #74796D;
}

.load-more__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.text--primary {
    font-family: "Libre Franklin", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text--heading {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@media(min-width: 670px) {
    .form div.MuiFormControl-root {
        width: 35rem;
    }
}

@media (min-width: 800px) {
    .main {
        padding: 6rem 4rem 5rem 4rem;
    }
}