.main {
    padding: 6rem 2rem 1.7rem 2rem;
    min-height: 100vh;
    background-color: #F9FAEF;
}

.text--primary {
    font-family: "Libre Franklin", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.text--heading {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

@media (min-width: 800px) {
    .main {
        padding: 6rem 4rem 1.7rem 4rem;
    }
}