.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-family: "Libre Franklin", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.button--medium {
    font-size: 1rem;
}

.button--large {
    font-size: 1.2rem
}

.button--icon {
    padding: 0.6rem;
}

.button--filled {
    padding: 0.6rem 1.1rem;
    border-radius: 50rem;
    background-color: #476730;
    font-weight: 500;
    color: #FFFFFF;
    transition: transform 0.3s ease;
}

.button--transparent {
    font-weight: 400;
    color: #74796D;
}

.button--filled:hover {
    transform: scale(0.8);
}

.button--transparent:hover {
    color: #141E0C;
}