.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.button:disabled {
    pointer-events: none;
}

.button--filled:disabled {
    background-color: #C3CEB7;
}

.button--medium {
    font-size: 1.1rem;
}

.button--medium svg {
    font-size: 1.3rem;
}

.button--large {
    font-size: 1.3rem
}

.button--large svg {
    font-size: 2.3rem;
}

.button--filled {
    padding: 0.6rem 1.1rem;
    border-radius: 50rem;
    background-color: #476730;
    font-weight: 600;
    color: #FFFFFF;
    transition: transform 0.3s ease;
}

.button--filled.button--large {
    padding: 0.6rem 1.5rem;
}

.button--filled.button--icon {
    padding: 0.8rem;
}

.button--transparent {
    font-weight: 400;
    color: #74796D;
}

@media (min-width: 800px) {
    .button--filled:hover {
        transform: scale(0.8);
    }

    .button--transparent:hover {
        color: #141E0C;
    }
}